$color-white: #fff;
$color-golden-wheat: #ffd867;
$color-ice-blue: #d8e6fd;
$color-light-ice: #ccd5ea;
$color-azure-blue: #e3f1fe;
$color-marine: #001b4a;
$color-marine-light: #00306c;
$color-dark-blue: #0a2656;
$color-blueberry: #333991;
$color-faded-blue: #6087ca;
$color-pale-blue: #d5e7ff;
$color-navy-blue: #001b4a;

$color-black-translucent: rgba(51, 51, 51, 0.5);
